html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
}

body {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  align-items: stretch;
  justify-items: center;
  padding: 1rem;
  gap: 1rem;
  margin-inline: auto;
}

* {
  box-sizing: border-box;
  user-select: none;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  width: 100%;
  max-width: 1000px;
}

nav p {
  margin: 0;
  font-size: 1.5rem;
}

nav .type {
  box-sizing: border-box;
  background-color: #e5eafe;
  border: 0.25rem solid black;
  border-radius: 0.25rem;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

a {
  min-width: 3rem;
  text-decoration: none;
}

.left {
  float: left;
}

.right {
  float: right;
}

#cross {
  position: absolute;
  width: 3rem;
  height: 3rem;
  /*display: none;*/
}

.next {
  color: black;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  border-radius: 0.25rem;
  background-color: #e5eafe;
}

.next:hover {
  background-color: #d9d9d9;
}
