.wrapper {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 2rem;
  width: 100%;
}

.wrapper > div {
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.wrapper > div:hover {
  outline: rgb(26, 198, 94, 65%) solid 0.25rem;
  outline-offset: -0.25rem;
}

.square {
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid;
}
