#wrapper {
  display: grid;
  gap: 2rem;
  width: 100%;
  grid-template-rows: 1fr 1fr;
  justify-items: center;
  align-items: stretch;
}

#wrapper > .row {
  display: flex;
  gap: 2rem;
  justify-content: center;
}

#wrapper > .row:nth-child(even) {
  flex-direction: row-reverse;
}

.square {
  background-color: #d9d9d9;
  border-radius: 0.25rem;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
}

.active {
  outline: rgb(26, 198, 94, 65%) solid 0.25rem;
  outline-offset: -0.25rem;
  cursor: pointer;
}

table,
th,
td {
  border: 1px solid;
}
